:root{
    --rblue: #88D9E6;
    --darkgray: #374B4A;
    font-family: 'Inria Sans';
}

header{
    background-color: var(--rblue); 
    color: #7B4B94;   
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;    
}

main {
    background-image: url('img/SanatorioColegialesEntrada.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    padding: 2.3rem;
    min-height: 45vh;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--darkgray);
    color: white;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

#logo{
    display: grid;
    grid-template-columns: 35% 50% 15%;
}


#grilla {
    display: grid;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    background-color: var(--rblue);
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 27rem;
    margin-right: 27rem;
    border-radius: 12%;
    border-style: groove;
    color: #7B4B94;
}

img:not(#menu-img){
    height: 125px;
    width: 250px;
}

#menu-img { 
    height: 80px;
    width: 120px;
}

#menu-button {
    margin-top: 1rem;
    background-image: url('img/menu-icon.png');
    background-color: var(--rblue);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 60px;
}   

.renglon{
    display: grid;
    gap: 0.25rem;
}

.botones {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

button{
    background-color: var(--darkgray);
    border-radius: 12%;
    padding: 0.45rem;
    color: paleturquoise;
}

.tabla {
    display: flex;
    color: white;
    margin: 1rem, 3rem, 3rem, 3rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 1.5rem;
}

tr:nth-child(even) {
    background-color: var(--rblue);
    color: var(--darkgray);
}

tr:nth-child(odd) {
 background-color: black;
 color: white;
}

tr:hover {
    background-color: var(--darkgray);
    color: white;
}

#visual-registros-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#visual-registros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#visual-registros, #historia > h2 {
    color: white;
}
